<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>pe.gob.essalud.rpa-tad</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/cenate2/rpas/rpa-tad/scripts/run_rpa_tad.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/cenate2/rpas/rpa-tad</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>ENV_FILE</key>
    <string>.env.qa</string>
    <key>RPA_USERS_ENV_FILE</key>
    <string>/Users/cenate2/rpas/shared/config/.env_usuarios</string>
    <key>TZ</key>
    <string>America/Lima</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>2</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/cenate2/rpas/rpa-tad/orchestrator_logs/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/cenate2/rpas/rpa-tad/orchestrator_logs/launchd.err.log</string>
</dict>
</plist>
